.invoice {
  background-color: #ffffff;
  padding-top: 1.3rem;
  padding-bottom: 1.23rem;
}

.invoice h1 {
  border-bottom: 1px solid #e5e5e5;
  font-weight: 300;
  margin-bottom: 20px;
  color: #838383;
  font-size: 36px;
}

.consultHistory a {
  color: #c28a3b;
  padding-right: 3rem;
  margin-top: 1rem;
}

.invoiceAd {
  color: #838383;
}

.control-label {
  color: #5D5D5D;
  font-size: 15px;
}

.required {
  font-weight: 700;
}

.small {
  font-size: 13px;
}

.small a {
  color: #c28a3b;
}

.small a:hover {
  color: #23527c;
  text-decoration: underline;
}

.nextButton {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}

.nextButton:hover {
  background-color: #000000;
  color: #ffffff;
}


.form-footer {
  background-color: #f5f5f5;
  color: #838383;
}

.checkbox {
  margin-top: 1.8rem;
}

.panel-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

}

.tooltip::before {
  //-moz-border-bottom-colors: none;
  //-moz-border-left-colors: none;
  //-moz-border-right-colors: none;
  //-moz-border-top-colors: none;
  border-color: transparent transparent #0a0a0a;
  border-image: none;
  border-style: inset inset solid;
  border-width: 0 0.75rem 0.75rem;
  bottom: 100%;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

//.invoice {
//  font-weight: $has-tip-font-weight;
//  border-bottom: $has-tip-border-bottom;
//  background-color: $tooltip-background-color;
//  color: $tooltip-color;
//  padding: $tooltip-padding;
//  font-size: $tooltip-font-size;
//  width: $tooltip-pip-width;
//  height: $tooltip-pip-height;
//  border-radius: $tooltip-radius;
//
//}