.header {
  background-color: $white;
  height: 142px;
  margin-bottom: 0.2rem;
}

.header h1 {
  background-color: #333333;
  color: #ffffff;
  padding: 10px 5px;
  margin: 0;
  font-size: 27px;
  line-height: 20px;
  margin-top: 1.15rem;
  font-weight: 300;
  margin-bottom: 20px;

}